<script>
	import '../app.css';
	import logo from '$lib/assets/logo.png';
</script>

<style>
	.page-container {
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>

<svelte:head>
	<title>Simple Fund Manager</title>
</svelte:head>

<nav class="bg-primary-button text-white px-4 w-full h-12 flex items-center overflow-y-visible gap-1">
	<img src={logo} alt="logo" class="h-12 w-12 object-contain" />
	<h1 class="text-xl font-semibold">Simple Fund Manager</h1>
</nav>
<div class="page-container h-[calc(100dvh-3rem-2rem)] bg-background">
	<slot />
</div>
<footer
	class="bg-accent text-white flex flex-col items-center justify-center gap-0.5 w-full h-8 text-sm"
>
	<span
		>Made with ❤️ using <a class="underline" rel="external" href="https://kit.svelte.dev/"
			>SvelteKit</a
		></span
	>
</footer>
