<script lang="ts">
	import MemberAdder from '$lib/components/MemberAdder.svelte';
	import FileChooser from '$lib/components/FileChooser.svelte';
	import { load, removeMember, state, updateInvestment } from '$lib/stores/globalState';
	import FileDownloader from '$lib/components/FileDownloader.svelte';
	import Calculator from '$lib/components/Calculator.svelte';
	import Button from '$lib/components/Button.svelte';
	import Textfield from '$lib/components/Textfield.svelte';
	import type { State } from '$lib/util/types';
	import DropboxChooser from '$lib/components/DropboxChooser.svelte';
	import DropboxSaver from '$lib/components/DropboxSaver.svelte';

	export let data;
	const newInvestments: Record<string, number> = {};

	function updateNewInvestments(name: string, event: Event) {
		if ((<KeyboardEvent>event).key === 'Enter') {
			updateState(name);
		} else {
			newInvestments[name] = +(<HTMLInputElement>event.target).value;
		}
	}

	function updateState(name: string) {
		updateInvestment(name, newInvestments[name]);
		newInvestments[name] = 0;
	}

	function restoreState(oldState: State) {
		load(oldState);
	}
</script>

<style>
	.page-container {
		border-radius: 4px;
		display: grid;
		grid-auto-rows: 1fr;
		grid-template-columns: 1fr;
		grid-template-areas: 'members' 'actions';
		gap: 2em;
	}

	@media only screen and (min-width: 1024px) {
		.page-container {
			grid-template-columns: 70% 1fr;
			grid-template-areas: 'members actions';
		}
	}

	.actions {
		grid-area: actions;
		display: grid;
		grid-template-areas:
			'load'
			'save'
			'calculator';
		grid-template-rows: auto auto 1fr;
		gap: 1em;
	}

	.load-buttons {
		grid-area: load;
	}

	.save-buttons {
		grid-area: save;
	}

	.button-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-top: 1em;
	}

	.members {
		grid-area: members;
		display: grid;
		grid-template-areas:
			'header'
			'memberlist'
			'adder';
		grid-template-columns: 1fr;
		grid-template-rows: 3em 1fr auto;
	}

	.memberlist {
		grid-area: memberlist;
	}

	.member span {
		width: 6em;
	}

	.adder {
		grid-area: adder;
	}
</style>

<div class="page-container max-h-full overflow-auto w-full lg:mx-[10vw]">
	<div
		class="members lg:border lg:border-primary-button lg:rounded-sm lg:p-8 lg:text-base lg:w-auto bg-white p-4 w-full"
	>
		<h1 class="text-xl font-bold">Current Members</h1>
		<div class="memberlist overflow-x-visible">
			{#if $state.members.size > 0}
				{#each [...$state.members] as [name, { invested, currentValue }]}
					<div
						class="member space-y-2 grid grid-cols-2 items-center justify-between mb-2 gap-4 border border-primary-button rounded-md p-2 lg:flex"
					>
						<span class="font-semibold">{name}</span>
						<Textfield
							type="number"
							step="0.01"
							disabled="true"
							label="Current Investment"
							bind:value={invested}
						/>
						<Textfield
							type="number"
							step="0.01"
							disabled="true"
							label="Current Value"
							value={currentValue}
						/>
						<Textfield
							type="number"
							step="0.01"
							label="Investment"
							value={newInvestments[name] || 0}
							on:change={(event) => updateNewInvestments(name, event)}
						/>
						<Button class="w-32" icon="add" label="Update" on:click={() => updateState(name)} />
						<Button
							class="bg-red-500 w-32"
							icon="close"
							label="Remove"
							on:click={() => removeMember(name)}
						/>
					</div>
				{/each}
			{:else}No members yet, try to add some!{/if}
		</div>
		<div class="adder space-y-3">
			<h2>Add Member</h2>
			<MemberAdder />
		</div>
	</div>
	<div
		class="actions lg:border lg:border-primary-button lg:rounded-sm lg:p-8 lg:text-base lg:w-auto bg-white p-4 w-full"
	>
		<div class="load-buttons">
			<h2 class="text-lg font-semibold">Load</h2>
			<div class="button-container">
				<DropboxChooser
					authenticated={data.dropboxAuthenticated}
					on:load={({ detail }) => restoreState(detail)}
					openOnStart={data.openDropboxChooserDialogOnStart}
				/>
				<FileChooser on:load={({ detail }) => restoreState(detail)} />
			</div>
		</div>
		<div class="save-buttons">
			<h2 class="text-lg font-semibold">Save</h2>
			<div class="button-container">
				<DropboxSaver authenticated={data.dropboxAuthenticated} />
				<FileDownloader />
			</div>
		</div>
		<div class="calculator">
			<Calculator />
		</div>
	</div>
</div>
