<script lang="ts">
	import Icon from '@iconify/svelte';
	export let title: string;
	export let dialogHandle: HTMLDialogElement;
</script>

<dialog class="p-0 rounded min-w-[50vw] shadow-md" bind:this={dialogHandle}>
	<div class="flex justify-between p-2 bg-accent text-white items-center">
		<h2 class="text-lg font-semibold">{title}</h2>
		<button
			on:click={() => {
				dialogHandle.close();
			}}
		>
			<Icon class="w-8 h-8 cursor-pointer" icon="mdi:close" />
		</button>
	</div>
	<slot />
</dialog>
