<script lang="ts">
	import Icon from '@iconify/svelte';

	export let icon: string | undefined = undefined;
	export let label: string;
	let classNames: string = '';
	export { classNames as class };
</script>

<button
	class="flex justify-center items-center gap-2 p-2 rounded-md bg-primary-button {classNames} transition-transform hover:scale-105"
	{...$$restProps}
	on:click
>
	{#if icon}
		<Icon icon="mdi:{icon}" color="white" />
	{/if}
	<span class="text-white">{label}</span>
</button>
