<script lang="ts">
	import { state, updatePercentage } from '$lib/stores/globalState';
	import Button from '$lib/components/Button.svelte';
	import Textfield from '$lib/components/Textfield.svelte';

	let percent: number = 0;

	let absolute: number = 0;

	function recalculate() {
		if (percent !== 0) {
			updatePercentage(percent);
		}
		if (absolute !== 0) {
			updatePercentage((absolute / total - 1) * 100);
		}
		percent = 0;
		absolute = 0;
	}

	function updatePercent(event: Event) {
		percent = +(
			event as Event & {
				currentTarget: EventTarget & HTMLInputElement;
			}
		).currentTarget.value;
		absolute = 0;
	}

	function updateAbsolute(event: Event) {
		absolute = +(
			event as Event & {
				currentTarget: EventTarget & HTMLInputElement;
			}
		).currentTarget.value;
		percent = 0;
	}

	$: total = [...$state.members].reduce((acc, [_, { currentValue }]) => acc + currentValue, 0);

	$: invested = [...$state.members].reduce((acc, [_, { invested }]) => acc + invested, 0);

	$: profitLoss = total / invested - 1;
</script>

<style>
	p {
		@apply font-semibold;
	}
</style>

<div class="flex h-full flex-col justify-between gap-4">
	<h2 class="text-xl font-bold">Update values</h2>
	<p>Either enter</p>

	<Textfield
		value={percent}
		label="Percentual Gains"
		type="number"
		step="0.01"
		on:change={updatePercent}
	/>
	<p>or</p>
	<Textfield
		value={absolute}
		label="New Absolute Total"
		type="number"
		step="0.01"
		on:change={updateAbsolute}
	/>

	<Button label="Recalculate investment values" on:click={recalculate} />

	<Textfield
		disabled="true"
		label="Current Total"
		value={total.toLocaleString(undefined, { maximumFractionDigits: 2 })}
	/>

	<Textfield
		disabled="true"
		label="Total Invested"
		value={invested.toLocaleString(undefined, { maximumFractionDigits: 2 })}
	/>

	<Textfield
		class="border border-solid {(profitLoss || 0) >= 0 ? 'border-green-500' : 'border-red-500'}"
		disabled="true"
		label="Profit/Loss"
		value="{((profitLoss || 0) * 100).toLocaleString(undefined, { maximumFractionDigits: 2 })}%"
	/>
</div>
