<script lang="ts">
	import Button from '$lib/components/Button.svelte';
	import BaseDialog from '$lib/components/BaseDialog.svelte';
	import type { DropboxFileEntry } from '../../routes/(api)/dropbox/+server';
	import { reviver } from '$lib/util/jsonUtils';
	import { createEventDispatcher, onMount } from 'svelte';

	export let authenticated: boolean;
	export let openOnStart = false;

	const dispatch = createEventDispatcher();
	let dialog: HTMLDialogElement;
	let fileList: DropboxFileEntry[] = [];
	let fileListPromise: Promise<DropboxFileEntry[]>;

	async function openDropboxDialog() {
		if (!authenticated) {
			(window as Window).location = '/dropbox-auth?open-dialog=true';
		} else {
			fileList = [];
			dialog.showModal();
			fileListPromise = fetch('/dropbox').then((response) => response.json());
			fileList = await fileListPromise;
		}
	}

	async function downloadDropboxFile(revision: string) {
		const response = await (await fetch(`/dropbox/file/${revision}`)).json();
		dispatch('load', JSON.parse(response, reviver));
		const newUrl = new URL(window.location.href);
		newUrl.searchParams.delete('open-dialog');
		window.history.replaceState(null, '', newUrl);
		dialog.close();
	}

	onMount(() => {
		if (openOnStart) {
			openDropboxDialog();
		}
	});
</script>

<BaseDialog title="Choose a file..." bind:dialogHandle={dialog}>
	{#await fileListPromise}
		<p class="px-4 py-2 italic text-sm">Please wait, loading file list from Dropbox...</p>
	{:then}
		<div class="overflow-auto max-h-96 px-6 py-4 flex flex-col">
			<div class="font-semibold text-lg p-2 flex justify-between">
				<span>Filename</span><span>Last Modified</span>
			</div>
			{#each fileList as file}
				<button
					class="p-2 border-black border-b text-start hover:bg-gray-100 flex justify-between"
					on:click={() => downloadDropboxFile(file.fileName)}
					><span>
						{file.fileName}
					</span>
					<span>
						{file.lastModified}
					</span>
				</button>
			{/each}
		</div>
	{/await}
</BaseDialog>

<Button
	class="!bg-blue-400 !text-white"
	label="Choose from Dropbox"
	icon="dropbox"
	on:click={openDropboxDialog}
/>
