<script lang="ts">
	import { state } from '$lib/stores/globalState';
	import Button from '$lib/components/Button.svelte';
	import { replacer } from '$lib/util/jsonUtils';
	import BaseDialog from '$lib/components/BaseDialog.svelte';
	import Textfield from '$lib/components/Textfield.svelte';
	import type { DropboxFileUpload } from '../../routes/(api)/dropbox/+server';

	export let authenticated: boolean;

	let dialog: HTMLDialogElement;
	let fileName: string = 'fund-manager.json';

	async function saveToDropbox() {
		if (!authenticated) {
			(window as Window).location = '/dropbox-auth';
		} else {
			const payload: DropboxFileUpload = {
				fileContent: JSON.stringify($state, replacer),
				fileName
			};
			try {
				await fetch('/dropbox', {
					method: 'POST',
					body: JSON.stringify(payload)
				});
			} catch (err) {
				console.log(err);
			}
			dialog.close();
		}
	}
</script>

<BaseDialog bind:dialogHandle={dialog} title="Save to Dropbox...">
	<div class="py-8 px-10 space-y-6">
		<span>
			Choose a filename to save to Dropbox. If the file already exists, Dropbox will automatically
			rename it by appending an increasing number.
		</span>
		<Textfield label="Filename" bind:value={fileName} />
		<div class="flex gap-2">
			<Button label="Confirm" on:click={saveToDropbox} />
			<Button class="!bg-red-400 !text-white" label="Cancel" on:click={() => dialog.close()} />
		</div>
	</div>
</BaseDialog>

<Button
	class="!bg-blue-400 !text-white"
	label="Save to Dropbox"
	icon="dropbox"
	on:click={() => dialog.showModal()}
/>
