<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	import { reviver } from '$lib/util/jsonUtils';
	import Button from '$lib/components/Button.svelte';

	const dispatch = createEventDispatcher();

	let fileInput: HTMLElement;

	function handleUpload(event: Event) {
		const newSelection = (<HTMLInputElement>event.target).files?.[0];
		if (newSelection) {
			const fileReader = new FileReader();
			fileReader.onload = (e: ProgressEvent<FileReader>) => {
				dispatch('load', JSON.parse(e.target?.result?.toString() ?? '', reviver));
			};
			fileReader.readAsText(newSelection);
			(<HTMLInputElement>event.target).value = '';
		}
	}
</script>

<style>
	input[type='file'] {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}
</style>

<Button
	class="w-32"
	on:click={() => {
		fileInput.click();
	}}
	icon="upload"
	label="From Disk"
/>
<input
	bind:this={fileInput}
	id="file-uploader"
	type="file"
	accept="application/json"
	on:change={handleUpload}
/>
