<script lang="ts">
	import { replacer } from '$lib/util/jsonUtils';

	import { state } from '$lib/stores/globalState';
	import Button from './Button.svelte';
	let dataURL: string;

	function handleDownload() {
		if (dataURL) {
			window.URL.revokeObjectURL(dataURL);
		}
		dataURL = window.URL.createObjectURL(
			new Blob([JSON.stringify($state, replacer)], { type: 'application/json' })
		);
		const anchorTag = document.createElement('a');
		anchorTag.download = 'fund-manager.json';
		anchorTag.href = dataURL;
		anchorTag.click();
	}
</script>

<Button class="w-32" label="To Disk" icon="download" on:click={handleDownload} />
