<script lang="ts">
	import { addMember } from '$lib/stores/globalState';
	import Button from '$lib/components/Button.svelte';
	import Textfield from '$lib/components/Textfield.svelte';

	let memberName: string = '';

	function updateMemberName(event: Event) {
		if ((<KeyboardEvent>event).key === 'Enter') {
			addMemberToStore();
		} else {
			memberName = (<HTMLInputElement>event.target).value;
		}
	}

	function addMemberToStore() {
		addMember(memberName);
		memberName = '';
	}
</script>

<div class="flex flex-col gap-2 lg:flex-row lg:items-center">
	<Textfield class="w-40" bind:value={memberName} on:keyup={updateMemberName} label="Name" />
	<Button label="New Member" icon="add" on:click={addMemberToStore} />
</div>
