<script lang="ts">
  export let label: string;
  export let value: string | number;
  let classNames: string = '';
  export { classNames as class };
</script>

<div class="relative z-0">
  <span class="absolute top-[-10px] left-2 text-sm z-1 bg-gray-100 rounded-lg px-2">
    {label}
  </span>
  <input
    class="border w-full z-0 p-2 rounded-md {classNames}"
    {...$$restProps}
    on:keyup
    bind:value
    on:change
  />
</div>
